<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Reportes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-list>
        <ion-item v-bind:key="item.id" v-for="(item) in foodList.results">
          <ion-thumbnail slot="start">
            <ion-img :src="item.image"></ion-img>
          </ion-thumbnail>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
      </ion-list>
      <div class="container"></div>
      <MglMap :accessToken="accessToken" :mapStyle="mapStyle"
      @load="onMapLoaded"
      :center="coordinates">
          <MglMarker :coordinates="coordinates" color="blue"></MglMarker>
      </MglMap>
      <router-link to="/report">
        <ion-fab vertical="bottom" horizontal="end" slot="end">
          <ion-fab-button color="danger">
            <ion-icon name="add">+</ion-icon>
          </ion-fab-button>
        </ion-fab>
      </router-link>

    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { camera, trash, close,add } from 'ionicons/icons';
import { IonContent, IonHeader, IonPage, IonIcon, IonToolbar } from '@ionic/vue';
import {MglMap, MglMarker} from 'vue-mapbox';
import { defineComponent } from 'vue';
const axios = require('axios').default;

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonPage,
    MglMap,
    MglMarker
  },
  data(){
    return {
      apiUrl: "https://api.spoonacular.com/recipes/complexSearch",
      foodList: [],
      style: "",
      accessToken:"pk.eyJ1IjoiamNhcmxvczQ1NiIsImEiOiJjaXphbW0xZ2UwMTh0M2Ftdzc2MmIxNnZ5In0.3b1accp6l3-0Ajg-_0IKKw",
      mapStyle: "mapbox://styles/mapbox/dark-v10",
      coordinates: [104.2425504, 22.1891735],
      user: {
        username: 'jcarlos',
        name: 'Juan Carlos López Díaz',
        lastName: "López Díaz",
        img: "https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
      }
    }
  },
  setup(){
    return {
      add
    }
  },
  methods: {
    //https://api.spoonacular.com/recipes/complexSearch?query=pasta&apiKey=2c3a5eadc02a4977805ba0a9f7a70ec7
    getFoodList(){
      const params = new URLSearchParams();
      params.append('query', "pasta");
      params.append('number', "4");
      params.append('apiKey', "2c3a5eadc02a4977805ba0a9f7a70ec7");
      axios.get("https://api.spoonacular.com/recipes/complexSearch", { params })
          .then(response => (this.foodList = response.data ))
    },
    onMapLoaded(event){
      const map = event.map;
      console.log(map);

    }
  },
  mounted(){
    this.getFoodList();
  },
});
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>