<template>
  <ion-page>
    <ion-content background="primary">
      <ion-img class="img-welcome" src="assets/img/logo.svg" height="500px" width="200px">
      </ion-img>
      <div class="container">
        <ion-text>
          <h1 class="text-center">Login</h1>
        </ion-text>
        <ion-grid class="text-center">
          <ion-row>
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-row>
        </ion-grid>
        <router-link to="/home">
          <ion-button expand="block" color="primary">Entrar</ion-button>
        </router-link>
      </div>

    </ion-content>
  </ion-page>
</template>

<script>
export default {
  name: "Login"
}
</script>

<style scoped>
  .img-welcome{
    padding: 20px;
  }
  .container{
    text-align: center;
    padding: 15px
  }
  .buttons-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    min-width: 10em;
    font-size: 18pt;
    font-weight: bold;
  }
  .morado{
    --background: #352E44
  }
</style>