<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nuevo reporte</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Categoria</ion-label>
            <ion-select placeholder="Selecciona la categoria">
              <ion-select-option>Robo</ion-select-option>
              <ion-select-option>Asalto</ion-select-option>
              <ion-select-option>Situación de peligro</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

          <ion-row>
            <ion-col size="6" :key="photo" v-for="photo in photos">
              <ion-img :src="photo.webviewPath"></ion-img>
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-item>
            <ion-label position="floating">Descripcion del reporte</ion-label>
            <ion-textarea placeholder="max 500 caracteres"></ion-textarea>
          </ion-item>
        </ion-row>
      </ion-grid>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button @click="takePhoto()">
            <ion-icon :icon="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      <div class="container">
        <section>
          <router-link to="/home">
            <ion-button expand="block">Enviar</ion-button>
          </router-link>
        </section>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { camera, trash, close, add } from 'ionicons/icons';
import { usePhotoGallery, Photo } from '@/composables/usePhotoGallery';
export default {
  name: "NewReport",
  setup() {
    const { takePhoto, photos  } = usePhotoGallery();

    return {
      photos,
      takePhoto,
      camera, trash, close
    }
  }
}
</script>

<style scoped>
  .img-welcome{
    padding: 20px;
  }
  .container{
    text-align: center;
    padding: 15px
  }
  .buttons-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    min-width: 10em;
    font-size: 18pt;
    font-weight: bold;
  }
  .morado{
    --background: #352E44
  }
</style>