<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label>Genero</ion-label>
            <ion-select interface="action-sheet">
              <ion-select-option>Femenino</ion-select-option>
              <ion-select-option>Masculino</ion-select-option>
              <ion-select-option>Otro</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label>Edad</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
      <ion-row>

      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label >Estado</ion-label>
            <ion-select>

            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label >Municipio</ion-label>
            <ion-select>

            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label >Localidad</ion-label>
            <ion-select>

            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>

        </ion-row>
      </ion-grid>
      <div class="container">
        <section>
          <router-link to="/home">
            <ion-button expand="block">Enviar</ion-button>
          </router-link>
        </section>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
export default {
name: "Register"
}
</script>

<style scoped>
  .img-welcome{
    padding: 20px;
  }
  .container{
    text-align: center;
    padding: 15px
  }
  .buttons-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    min-width: 10em;
    font-size: 18pt;
    font-weight: bold;
  }
  .morado{
    --background: #352E44
  }
</style>