<template>
  <ion-page>
    <ion-content background="primary">
      <ion-img class="img-welcome" src="assets/img/logo.svg" width="90%">
      </ion-img>

      <div class="container">
        <ion-text>
          <h1 class="text-center">Welcome</h1>
        </ion-text>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard
        </p>
        <ion-grid class="buttons-row">
          <ion-row>
            <router-link to="/login">
                <ion-button expand="block" color="primary" class="btn">Entrar</ion-button>
            </router-link>

          </ion-row>
          <ion-row>
            <router-link to="/register">
              <ion-button  expand="block"  class="btn morado">Registrarme</ion-button>
            </router-link>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
export default {
name: "Welcome"
}
</script>

<style scoped>
  .img-welcome{
    padding: 20px;
  }
  .container{
    text-align: center;
    padding: 15px
  }
  .buttons-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    min-width: 10em;
    font-size: 18pt;
    font-weight: bold;
  }
  .morado{
    --background: #352E44
  }
</style>